
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLTELayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Dashboard
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">General Elements</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3><span id="spanDrafts"></span></h3>
                    <p>Drafts</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                @Html.ActionLink("More info", "Drafts", "Dashboard", new { Area = "User" }, new { @class = "small-box-footer" })
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3><span id="spanSubmitted"></span></h3>
                    <p>Submitted Applications</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                @Html.ActionLink("More info", "Submitted", "Dashboard", new { Area = "User" }, new { @class = "small-box-footer" })
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3><span id="spanLicenses"></span></h3>
                    <p>Licenses</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                @Html.ActionLink("More info", "Licenses", "Dashboard", new { Area = "User" }, new { @class = "small-box-footer" })
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3><span id="spanQueries"></span></h3>
                    <p>Raised Queries</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                @Html.ActionLink("More info", "Queries", "License", new { Area = "User" }, new { @class = "small-box-footer" })
            </div>
        </div>
        <!-- ./col -->
    </div>
</section>

<script>
    $(function () {
        var url = '@Url.Action("GetUserDashboard", "Dashboard", new { Area = "User" })';
        var jqxhr = $.getJSON(url, function () { })
       .done(function (response) {
           var json;
           if (response instanceof Object)
               json = response;
           else
               json = $.parseJSON(response);
           $('#spanDrafts').text(json.Table[0]["Drafts"]);
           $('#spanSubmitted').text(json.Table1[0]["Submitted"]);
           $('#spanLicenses').text(json.Table2[0]["Licenses"]);
           $('#spanQueries').text(json.Table3[0]["QueriesRaised"]);
       })
   .fail(function (jqxhr, status, error) {
       var err = status + ", " + error;
       console.log("GetUserDashboard Request Failed: " + err);
   });
    });
</script>